<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.orionis.project.givemyphoneback"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- 需要的权限 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 主界面Activity -->
        <activity
            android:name="name.orionis.project.givemyphoneback.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 修改密码Activity -->
        <activity
            android:name="name.orionis.project.givemyphoneback.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <!-- 开机事件广播接收 -->
        <receiver android:name="name.orionis.project.givemyphoneback.BootstrapReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
		<!-- 消息发送后的广播接收 -->
		<receiver android:name="name.orionis.project.givemyphoneback.SmsBroadReceiver">
		    <intent-filter >
		        <action android:name="name.orionis.project.helper.SMS_SENT"/>
		    </intent-filter>
		    <intent-filter >
		    	<action android:name="name.orionis.project.helper.SMS_DELIVERED" />
		    </intent-filter>
		</receiver>
		<receiver android:name="name.orionis.project.givemyphoneback.SmsCommandReceiver">
		    <intent-filter android:priority="2147483647">
		        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
		    </intent-filter>
		</receiver>
    </application>
</manifest>